@model Project_MIS.Models.Lecturer

@{
    ViewData["Title"] = "Delete";
}


<br />
<br />

<div class="card">
    <div class="card-body bg-white">

        <div class="col text-danger">
            <h1>Are you sure to delete the  @Model.Name  @Model.LastName Profile??</h1><hr />
        </div>
        <br />
        @* past the form *@
        <div class="row">

            <div class="col-8">

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input readonly="readonly" asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input readonly="readonly" asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select disabled="disabled" asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input readonly="readonly" type="file" asp-for="Image" class="form-control custom-file" />
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input readonly="readonly" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input readonly="readonly" asp-for="Phone" class="form-control" />
                </div>

                
                <form asp-action="Delete">
                    <input readonly="readonly" type="hidden" asp-for="Id" />
                    <input readonly="readonly" type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index"><span class="fa fa-arrow-alt-circle-left"> &nbsp;</span> Back to List</a>

                    </form>


            </div>
            <div class="col-2 offset-1">
                <img src="@Model.Image" class="card-img" />
            </div>
        </div>



    </div>
</div>


