@model Project_MIS.Models.University

@{
    ViewData["Title"] = "Delete";
}



<br />
<br />

<div class="card">
    <div class="card-body bg-white">

        <div class="col text-danger">
            
            <h3>Are you sure you want to delete @Model.Name University?</h3>

        </div>
        <br />
        @* past the form *@
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input readonly="readonly" asp-for="Name" class="form-control" />
             
        </div>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-info">
                <span class="fa fa-arrow-alt-circle-left" >
                    &nbsp;
                </span> Back to List
            </a>
        </form>

        
    </div>
    
</div>


