@model Project_MIS.Models.Student

@{
    ViewData["Title"] = "Edit";
}


<br />
<br />

<div class="card">
    <div class="card-body bg-white">

        <div class="col text-info">
            <h1>Edit @Model.Name @Model.LastName Profile</h1><hr />
        </div>
        <br />
        <div class="row">
            <div class="col-9">
                @* past the form *@
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FacultyId" class="control-label"></label>
                        <select asp-for="FacultyId" class="form-control custom-select" asp-items="ViewBag.FacultyId"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        <select asp-for="DepartmentId" class="form-control custom-select" asp-items="ViewBag.DepartmentId"></select>
                    </div>
                    
                    
                    
                    <div class="form-group">
                        <label asp-for="ProjectId" class="control-label"></label>
                        <select asp-for="ProjectId" class="form-control custom-select" asp-items="ViewBag.ProjectId"></select>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <select asp-for="Role" class="form-control custom-select" asp-items="Html.GetEnumSelectList<Role>()"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="RollNo" class="control-label"></label>
                        <input asp-for="RollNo" class="form-control" />
                        <span asp-validation-for="RollNo" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input type="file" asp-for="Image" class="form-control custom-file" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control custom-select" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-2 offset-1">
                <img src="@Model.Image" class="card-img"/>
            </div>
        </div>
      
    </div>
    <a asp-action="Index"><span class="fa fa-arrow-alt-circle-left"> &nbsp;</span> Back to List</a>
</div>



@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



